@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.background {
  width: 50%;
  height: 100vh;
  background: #f7f7f7;
  background-image: url("../assets/Bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Poppins";
  h2 {
    position: relative;
    top: 80%;
    margin: auto;
    text-align: center;
    font-weight: 500;
    color: rgb(33, 33, 33);
  }
  p {
    position: relative;
    top: 80%;
    margin: auto;
    text-align: center;
    font-weight: 400;
    color: rgb(77, 77, 77);
  }
}

.register {
  width: 50%;
  height: 100vh;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-left: 5rem;
  flex-direction: column;
  gap: 20px;
  font-family: "Poppins";
h1{
    color: #000;
    font-weight:600
}
  form {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    a,
    a:visited {
      color: #fff;
    }
  }
  input{
      background:#f6f6f6;
      border:none;
      width:450px;

}
  input[type="text"],
  input[type="password"],
  input[type="number"],
   button,
  textarea {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    padding: 0.25rem;
    border-radius: 0.25rem;
}
input[type="number"]{
    width: 350px;
}
  label{
      color:rgb(64, 64, 64)
  }

  label,
  button {
    margin-top: 1rem;
    margin-bottom: 5px;

  }

  button {
    padding: 5px;
    width:250px;
    border:none;
    background-color:#33ADFF;
    color: rgb(255, 255, 255);
  }

  .instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #FAFBFF;
    color: rgb(43, 42, 42);
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
  }

  .instructions > svg {
    margin-right: 0.25rem;
  }

  .offscreen {
    position: absolute;
    left: -9999px;
  }

  .hide {
    display: none;
  }

  .valid {
    color: rgb(0, 0, 0);
    margin-left: 0.25rem;
  }

  .invalid {
    color: rgb(0, 0, 0);
    margin-left: 0.25rem;
  }

  .errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .line {
    display: inline-block;
  }
}
.terms{

    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: row;
    gap: none;
}
